table {
    width:100%;
    position: relative;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table#t01 tr:nth-child(even) {
    background-color: #eee;
}

table#t01 tr:nth-child(odd) {
    background-color:#fff;
}

table#t01 th	{
    background-color: black;
    color: white;
}

#container{
	margin-bottom: 200px;
}

.footer {
	position:fixed;
    height:30px;
    background-color:#FFDB03;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
}


#tab1 {
	position: relative;
	top: 5px;
	background-color: #FFFFFF;
	padding: 30px;
}

#tab2 {
	position: relative;
	top: 5px;
	background-color: #FFFFFF;
	padding: 100px;
}

#tab3 {
	position: relative;
	top: 5px;
	background-color: #FFFFFF;
	padding: 210px;
}

#tab4 {
	position: relative;
	top: 5px;
	background-color: #FFFFFF;
}

#tab5 {
	padding: 20px;
	background-color: #FF0FFF;
}